@page
@model Torneo.App.Frontend.Pages.DTs.DetailsModel
@{
}
<h5 class="display-5">Detalle del Director Técnico</h5>
<table class="table table-striped">
    <tr>
        <th scope="col">Id</th>
        <td>@Model.directorTecnico.Id</td>
    </tr>
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.directorTecnico.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Documento</th>
        <td>@Model.directorTecnico.Documento</td>
    </tr>
    <tr>
        <th scope="col">Teléfono</th>
        <td>@Model.directorTecnico.Telefono</td>
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>