@page
@model Torneo.App.Frontend.Pages.Jugadores.IndexModel
@{
}
<h1>Listado de Jugadores</h1>
<table class="table">
    <thead class="thead/dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Numero</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jugador in Model.jugadores)
        {
            <tr>
                <th>@jugador.Id</th>
                <td>@jugador.Nombre</td>
                <td>@jugador.Numero</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@jugador.Id">
                        <u>Detalle</u>
                    </a>
                </td>

            </tr>

        }


    </tbody>

</table>