@page
@model Torneo.App.Frontend.Pages.Estadios.IndexModel
@{
}
<h1>Listado de Estadios</h1>
<table class="table table-dark table-striped table-hover">
    <thead class="thead/dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Municipio</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estadio in Model.estadios)
        {
            <tr>
                <th>@estadio.Id</th>
                <td>@estadio.Nombre</td>
                <td>@estadio.Municipio.Nombre</td>
                <td>
                    <a class="btn btn-info" asp-page="./Details" asp-route-id="@estadio.Id">
                        <u>Detalle</u>
                    </a>
                </td>

            </tr>

        }
    </tbody>
</table>
