@page
@model Torneo.App.Frontend.Pages.Arbitros.IndexModel
@{
}
<h1>Listado de arbitros</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">nombre</th>
            <th scope="col">Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var arbitro in Model.arbitros)
        {

            <tr>
                <th scope="row">@arbitro.Id</th>
                <td>@arbitro.Nombre</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@arbitro.Id">
                        Detalle
                    </a>
                </td>

            </tr>
        }

    </tbody>
</table>