@page
@model Torneo.App.Frontend.Pages.Municipios.DetailsModel
@{
}
<h5 class="display-5">Detalle del municipio</h5>
<table class="table table-striped">
    <tr>
        <th scope="col">Id</th>
        <td>@Model.municipio.Id</td>
    </tr>
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.municipio.Nombre</td>
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>
